					<li><a class="twitter-share-button" href="https://twitter.com/share" data-url="<?php echo $url; ?>" data-text="Shared from <?php echo wp_title(); ?>" <?php if(!empty($twittername)) { echo 'data-via="' . $twittername . '"'; } ?>></a>
						<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
					</li>

					<li>
						<div class="fb-share-button" data-href="<?php echo '' . $url . '?utm_source=sharefloat_fbshare'; ?>" data-layout="button_count"></div>
					</li>


		<!-- required scripting for buttons -->
		<!-- FB LIKE & SHARE -->
		<div id="fb-root"></div>
		<script>(function(d, s, id) {
		  var js, fjs = d.getElementsByTagName(s)[0];
		  if (d.getElementById(id)) return;
		  js = d.createElement(s); js.id = id;
		  js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.5&appId=702464846519920";
		  fjs.parentNode.insertBefore(js, fjs);
		}(document, 'script', 'facebook-jssdk'));</script>


				<?php if(!empty($fblike)) : ?>
					<li>
						<div class="fb-like" data-href="<?php echo $url; ?>" data-layout="button_count" data-action="like" data-show-faces="false" data-share="false" data-ref="sharefloat_fblike"></div>
					</li>
				<?php endif; ?>
